page-home {
    .block {
        position: relative;
    }
    .delete {
        position: absolute;
        margin-left: 8px;
        margin-top: 5px;
        color: #FFFFFF;
    }
    .container {
        background-image: url("../../assets/imgs/leaves.jpg")
    }
    .footer {
        background-color: aqua;
        color: aqua;
    }
}